<% layout("/layouts/boilerplate.ejs")%>

  <div class="row  ">
    <div class="col-8 offset-2  ">
      <h3>Edit your Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
        class="form-add-listing needs-validation" enctype="multipart/form-data">
        <div>
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
          <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback"> Title Should be valid</div>
        </div>

        <div>
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea>
          <div class="invalid-feedback">Description Should Be Valid</div>
          <div class="valid-feedback">looks good</div>
        </div>

        <div>
          <p>Original Listing Image</p>
          <img src="<%= originalImageUrl %>" alt="" height="200px" width="300px">
        </div>

        <div>
          <label for="image" class="form-label">Upload Image File</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>

        <div class="row">
          <div class="col-md -4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required />
            <div class="invalid-feedback">Price Should Be Valid</div>
            <div class="valid-feedback">looks good</div>
          </div>

          <div class="col-md -8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
            <div class="invalid-feedback">Country Should Be Valid</div>
            <div class="valid-feedback">looks good</div>
          </div>
        </div>
        <div>
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Location Should Be Valid</div>
          <div class="valid-feedback">looks good</div>
        </div>
        <br><br>
        <button class="btn btn-primary">Edit</button>
      </form>
    </div>
  </div>